#shopcart{
	margin-bottom:200px;
	text-align:center;
}

.cartrow{
	display:flex;
}
.cartcol{
  
  flex-direction:row;
  width:100%;
  flex-wrap:wrap;
}

#setcart{
	margin:20px;
}
.errormsg{
	margin-bottom: 5px;
}
button{
	padding: 3px;
    margin: 5px;
}
#nrtip{
	font-size:13px;
}
#carttable{
	margin:auto;
}
#carttable td{
	padding:10px;
}
#carttable th{
	padding:5px;
}
.zugreifen{
	width:70px;
	text-align:right;	
}
.currency{
	white-space: nowrap;
}
#nrtip{
	white-space: nowrap;
}