#msg-cart{
	margin-top: 140px;
	text-align: center;
	background-color: #6cac6c;
	height: fit-content;
	padding: 5px;
	
}

@media only screen and (max-width: 1350px) {
		#msg-cart{
			margin-top: 120px;
		}
}
@media only screen and (max-width: 800px), (max-height:800px) {
	#msg-cart{
		margin-top: 100px;
	}
}

#shoplist{
	margin:auto;
	margin-bottom:50px;
}
.centered{
	margin:auto;
}

.shoprow{
	display:flex;
}
.shopcol{
  
  flex-direction:row;
  width:100%;
  flex-wrap:wrap;
}

@media (min-width: 48em) {
  .shopcol {
    flex-wrap: nowrap;
  }
}

#heading{
	margin-bottom:30px;
	text-align:center;
}

#shoplist td{
	padding:10px;
}
.tdprice{
	white-space: nowrap;
	text-align:center;
}
.tdimg{
	text-align:center;
}

/* Shop Suchfunktion Layout Start */

.search-wrapper {
	display: flex;
	flex-direction: column;

}

.search-wrapper label {
	font-size: 12px;
	color: rgb(38, 38, 38);
	font-style: italic;
}

.search-wrapper input {
	box-shadow: 0 4px 2px -2px rgb(201, 201, 201);
	margin-bottom: 20px;
}

/* Shop Suchfunktion Layout Ende */
